In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

# Question 1: Version of Pandas

In [2]:
pd.__version__

'1.3.4'

In [4]:
df = pd.read_csv('raw.githubusercontent.com_alexeygrigorev_datasets_master_housing.csv')

# Question 2: Number of columns in the dataset

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [6]:
df.shape

(20640, 10)

# Question 3: Select columns with missing data

In [7]:
df['longitude'].isna().sum()

0

In [8]:
for i in df.columns:
    if df[i].isna().sum()>0:
        print(i)

total_bedrooms

# Question 4: Number of unique values in the 'ocean_proximity' column

In [9]:
df['ocean_proximity'].nunique()

5

In [10]:
df['ocean_proximity'].unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [11]:
df['ocean_proximity'].value_counts()

<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: ocean_proximity, dtype: int64

# Question 5: Average value of the 'median_house_value' for the houses near the bay

In [12]:
df[df['ocean_proximity']=='NEAR BAY']['median_house_value'].mean()

259212.31179039303

# Question 6: Has the mean value changed after filling missing values?
Calculate the average of total_bedrooms column in the dataset.

Use the fillna method to fill the missing values in total_bedrooms with the mean value from the previous step.

Now, calculate the average of total_bedrooms again.

Has it changed?

In [13]:
df['total_bedrooms'].mean()

537.8705525375618

In [15]:
df['total_bedrooms'] = df['total_bedrooms'].fillna(df['total_bedrooms'].mean())

In [16]:
df['total_bedrooms'].mean()

537.8705525375639

# Questions 7: Value of the last element of w
Select all the options located on islands.

In [17]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

Select only columns housing_median_age, total_rooms, total_bedrooms.

In [19]:
df[['housing_median_age','total_rooms','total_bedrooms']]

       housing_median_age  total_rooms  total_bedrooms
0                    41.0        880.0           129.0
1                    21.0       7099.0          1106.0
2                    52.0       1467.0           190.0
3                    52.0       1274.0           235.0
4                    52.0       1627.0           280.0
...                   ...          ...             ...
20635                25.0       1665.0           374.0
20636                18.0        697.0           150.0
20637                17.0       2254.0           485.0
20638                18.0       1860.0           409.0
20639                16.0       2785.0           616.0

[20640 rows x 3 columns]

Get the underlying NumPy array. Let's call it X.

In [20]:
X = df[['housing_median_age','total_rooms','total_bedrooms']]

Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.

In [25]:
XT = X.T

In [27]:
XTX = XT.dot(X)

In [28]:
XTX

                    housing_median_age   total_rooms  total_bedrooms
housing_median_age        2.019848e+07  1.353329e+09    2.832047e+08
total_rooms               1.353329e+09  2.416214e+11    4.676603e+10
total_bedrooms            2.832047e+08  4.676603e+10    9.599265e+09

Compute the inverse of XTX.

Create an array y with values [950, 1300, 800, 1000, 1300].

In [29]:
y =  [950, 1300, 800, 1000, 1300]

Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

What's the value of the last element of w?