In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

#### Feature Selection and Preprocessing::

In [2]:
df = pd.read_csv('car-price_data.csv')

In [3]:
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [4]:
df.head().T

,0,1,2,3,4
Make,BMW,BMW,BMW,BMW,BMW
Model,1 Series M,1 Series,1 Series,1 Series,1 Series
Year,2011,2011,2011,2011,2011
Engine Fuel Type,premium unleaded (required),premium unleaded (required),premium unleaded (required),premium unleaded (required),premium unleaded (required)
Engine HP,335.0,300.0,300.0,230.0,230.0
Engine Cylinders,6.0,6.0,6.0,6.0,6.0
Transmission Type,MANUAL,MANUAL,MANUAL,MANUAL,MANUAL
Driven_Wheels,rear wheel drive,rear wheel drive,rear wheel drive,rear wheel drive,rear wheel drive
Number of Doors,2.0,2.0,2.0,2.0,2.0
Market Category,"Factory Tuner,Luxury,High-Performance","Luxury,Performance","Luxury,High-Performance","Luxury,Performance",Luxury
Vehicle Size,Compact,Compact,Compact,Compact,Compact
Vehicle Style,Coupe,Convertible,Coupe,Coupe,Convertible
highway MPG,26,28,28,28,28
city mpg,19,19,20,18,18
Popularity,3916,3916,3916,3916,3916
MSRP,46135,40650,36350,29450,34500

In [5]:
df.columns

Index(['Make', 'Model', 'Year', 'Engine Fuel Type', 'Engine HP',
       'Engine Cylinders', 'Transmission Type', 'Driven_Wheels',
       'Number of Doors', 'Market Category', 'Vehicle Size', 'Vehicle Style',
       'highway MPG', 'city mpg', 'Popularity', 'MSRP'],
      dtype='object')

In [13]:
df1 = df[['Make', 'Model', 'Year', 'Engine HP',
       'Engine Cylinders', 'Transmission Type', 'Vehicle Style',
       'highway MPG', 'city mpg', 'MSRP']]

In [14]:
len(df1.columns)

10

In [15]:
df1.columns = df1.columns.str.replace(' ', '_').str.lower()

In [16]:
df1.head()

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,msrp
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,46135
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,40650
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,36350
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,29450
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,34500

In [17]:
df1.rename(columns={'msrp':'price'},inplace=True)

C:\Users\Piyush\anaconda3\lib\site-packages\pandas\core\frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [11]:
df1.columns

Index(['make', 'model', 'year', 'engine_hp', 'engine_cylinders',
       'transmission_type', 'vehicle_style', 'highway_mpg', 'city_mpg',
       'price'],
      dtype='object')

In [12]:
df1.isnull().sum()

make                  0
model                 0
year                  0
engine_hp            69
engine_cylinders     30
transmission_type     0
vehicle_style         0
highway_mpg           0
city_mpg              0
price                 0
dtype: int64

In [13]:
df1.fillna(0,inplace=True)

C:\Users\Piyush\anaconda3\lib\site-packages\pandas\core\frame.py:5176: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [14]:
df1.isnull().sum()

make                 0
model                0
year                 0
engine_hp            0
engine_cylinders     0
transmission_type    0
vehicle_style        0
highway_mpg          0
city_mpg             0
price                0
dtype: int64

#### Question 1::
What is the most frequent observation (mode) for the column transmission_type?

In [15]:
df1['transmission_type'].value_counts()

AUTOMATIC           8266
MANUAL              2935
AUTOMATED_MANUAL     626
DIRECT_DRIVE          68
UNKNOWN               19
Name: transmission_type, dtype: int64

In [16]:
df1['transmission_type'].mode()

0    AUTOMATIC
dtype: object

#### Question 2::
Create the correlation matrix for the numerical features of your dataset.

In a correlation matrix, you compute the correlation coefficient between every pair of features in the dataset.

What are the two features that have the biggest correlation in this dataset?

In [17]:
df1.dtypes

make                  object
model                 object
year                   int64
engine_hp            float64
engine_cylinders     float64
transmission_type     object
vehicle_style         object
highway_mpg            int64
city_mpg               int64
price                  int64
dtype: object

In [18]:
df1.corr()

,year,engine_hp,engine_cylinders,highway_mpg,city_mpg,price
year,1.000000,0.338714,-0.040708,0.258240,0.198171,0.227590
engine_hp,0.338714,1.000000,0.774851,-0.415707,-0.424918,0.650095
engine_cylinders,-0.040708,0.774851,1.000000,-0.614541,-0.587306,0.526274
highway_mpg,0.258240,-0.415707,-0.614541,1.000000,0.886829,-0.160043
city_mpg,0.198171,-0.424918,-0.587306,0.886829,1.000000,-0.157676
price,0.227590,0.650095,0.526274,-0.160043,-0.157676,1.000000

#### Make price binary

In [19]:
df1['above_average'] = (df1['price']>df1['price'].mean()).astype(int)

C:\Users\Piyush\AppData\Local\Temp/ipykernel_5800/1581038666.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['above_average'] = (df1['price']>df1['price'].mean()).astype(int)

In [20]:
df1['above_average'].values

array([1, 1, 0, ..., 1, 1, 0])

#### Split the data

In [25]:
from sklearn.model_selection import train_test_split

In [54]:
df_full_train, df_test = train_test_split(df1,test_size=0.2,random_state=42)

In [55]:
df_train, df_val = train_test_split(df_full_train,test_size=0.25,random_state=42)

In [56]:
y_full_train = df_full_train['above_average'].values
#df_full_train.drop(columns=['price','above_average'],inplace=True)

In [57]:
y_train = df_train['above_average'].values
df_train.drop(columns=['price','above_average'],inplace=True)

In [58]:
y_test = df_test['above_average'].values
df_test.drop(columns=['price','above_average'],inplace=True)

In [59]:
y_val = df_val['above_average'].values
df_val.drop(columns=['price','above_average'],inplace=True)

#### Question 3::
Calculate the mutual information score between above_average and other categorical variables in our dataset. Use the training set only.

Round the scores to 2 decimals using round(score, 2).

Which of these variables has the lowest mutual information score?

In [24]:
from sklearn.metrics import mutual_info_score

In [61]:
cat_list = df_train.select_dtypes('O').columns

In [62]:
mutual_info_score(df_full_train['above_average'],df_full_train['make'])

0.2387236479073192

In [63]:
mutual_info_score(df_full_train['above_average'],df_full_train['vehicle_style'])

0.08339022741593435

In [64]:
mutual_info_score(df_full_train['above_average'],df_full_train['model'])

0.46099440756035703

In [65]:
mutual_info_score(df_full_train['above_average'],df_full_train['transmission_type'])

0.020883575914971135

In [66]:
def mis(s):
    return mutual_info_score(df_full_train['above_average'],s).round(2)

In [67]:
df_full_train[cat_list].apply(mis).sort_values()

transmission_type    0.02
vehicle_style        0.08
make                 0.24
model                0.46
dtype: float64

#### Question 4::
Now let's train a logistic regression.
Remember that we have several categorical variables in the dataset. Include them using one-hot encoding.

Fit the model on the training dataset.
To make sure the results are reproducible across different versions of Scikit-Learn, fit the model with these parameters:

model = LogisticRegression(solver='liblinear', C=10, max_iter=1000, random_state=42)

Calculate the accuracy on the validation dataset and round it to 2 decimal digits.
What accuracy did you get?

In [23]:
from sklearn.feature_extraction import DictVectorizer

In [68]:
df_train.columns

Index(['make', 'model', 'year', 'engine_hp', 'engine_cylinders',
       'transmission_type', 'vehicle_style', 'highway_mpg', 'city_mpg'],
      dtype='object')

In [69]:
df_train[cat_list]

              make     model transmission_type      vehicle_style
3972    Mitsubishi  Endeavor         AUTOMATIC            4dr SUV
1997           Kia   Borrego         AUTOMATIC            4dr SUV
5216   Lamborghini  Gallardo            MANUAL        Convertible
2805     Chevrolet  Colorado         AUTOMATIC    Crew Cab Pickup
11369      Pontiac      Vibe         AUTOMATIC      4dr Hatchback
...            ...       ...               ...                ...
9232        Toyota    Sienna         AUTOMATIC  Passenger Minivan
5710     Chevrolet       HHR            MANUAL              Wagon
11306      Hyundai  Veracruz         AUTOMATIC            4dr SUV
4414    Mitsubishi      Expo            MANUAL      2dr Hatchback
10286         Ford    Taurus         AUTOMATIC              Sedan

[7148 rows x 4 columns]

In [70]:
train_dict = df_train.to_dict(orient='records')

In [71]:
dv = DictVectorizer(sparse=False)

In [72]:
X_train = dv.fit_transform(train_dict)

In [73]:
X_train.shape

(7148, 943)

In [74]:
val_dict = df_val.to_dict(orient='records')

In [75]:
X_val = dv.transform(val_dict)

In [76]:
X_val.shape

(2383, 943)

In [77]:
y_train

array([0, 0, 1, ..., 0, 0, 0])

In [46]:
#list(X_train[0])

In [48]:
from sklearn.linear_model import LogisticRegression

In [78]:
model = LogisticRegression(solver='liblinear', C=10, max_iter=1000, random_state=42)
model.fit(X_train,y_train)

LogisticRegression(C=10, max_iter=1000, random_state=42, solver='liblinear')

In [79]:
y_pred = model.predict(X_val)

In [80]:
y_pred

array([0, 1, 0, ..., 0, 1, 1])

In [81]:
y_val

array([0, 1, 0, ..., 0, 1, 1])

In [84]:
(y_val == y_pred).mean().round(2)

0.94

#### Question 5::
Let's find the least useful feature using the feature elimination technique.

Train a model with all these features (using the same parameters as in Q4).

Now exclude each feature from this set and train a model without it. Record the accuracy for each model.

For each feature, calculate the difference between the original accuracy and the accuracy without the feature.

Which of following feature has the smallest difference?

year/engine_hp/transmission_type/city_mpg

In [97]:
#dict(zip(dv.feature_names_,model.coef_[0].round(2)))

In [108]:
def predict_n_score(df_t,df_v,y_tr,y_vl):
    
    #OHE for features
    train_dict = df_t.to_dict(orient='records')
    dv = DictVectorizer(sparse=False)
    X_tr = dv.fit_transform(train_dict)
    
    val_dict = df_v.to_dict(orient='records')
    X_vl = dv.transform(val_dict)
    
    #Modeling using Logistic Regression
    model = LogisticRegression(solver='liblinear', C=10, max_iter=1000, random_state=42)
    model.fit(X_tr,y_tr)
    
    #Prediction
    y_pr = model.predict(X_vl)
    
    #Accuracy
    return (y_vl == y_pr).mean().round(5)

In [109]:
#With all features:
print(df_val.columns)
predict_n_score(df_train,df_val,y_train,y_val)

Index(['make', 'model', 'year', 'engine_hp', 'engine_cylinders',
       'transmission_type', 'vehicle_style', 'highway_mpg', 'city_mpg'],
      dtype='object')

0.94335

In [124]:
print('Year:')
features = ['make', 'model', 'engine_hp', 'engine_cylinders',
       'transmission_type', 'vehicle_style', 'highway_mpg', 'city_mpg']
predict_n_score(df_train[features],df_val[features],y_train,y_val)

Year:

0.94755

In [125]:
print('Engine_hp:')
features = ['make', 'model', 'year', 'engine_cylinders',
       'transmission_type', 'vehicle_style', 'highway_mpg', 'city_mpg']
predict_n_score(df_train[features],df_val[features],y_train,y_val)

Engine_hp:

0.92488

In [126]:
print('transmission_type')
features = ['make', 'model', 'year', 'engine_hp', 'engine_cylinders',
        'vehicle_style', 'highway_mpg', 'city_mpg']
predict_n_score(df_train[features],df_val[features],y_train,y_val)

transmission_type

0.94671

In [127]:
print('city_mpg')
features = ['make', 'model', 'year', 'engine_hp', 'engine_cylinders',
       'transmission_type', 'vehicle_style', 'highway_mpg']
predict_n_score(df_train[features],df_val[features],y_train,y_val)

city_mpg

0.93244

In [128]:
diff = [0.0041999999999999815,0.018469999999999986,0.0033600000000000296,0.010909999999999975]

In [129]:
min(diff)

0.0033600000000000296

#### Question 6::
For this question, we'll see how to use a linear regression model from Scikit-Learn.

We'll need to use the original column price. Apply the logarithmic transformation to this column.

Fit the Ridge regression model on the training data with a solver 'sag'. Set the seed to 42.

This model also has a parameter alpha. Let's try the following values: [0, 0.01, 0.1, 1, 10].

Round your RMSE scores to 3 decimal digits.

Which of these alphas leads to the best RMSE on the validation set?

In [7]:
from sklearn.linear_model import Ridge

In [37]:
#del df1['above_average']
df1.isnull().sum()

make                 0
model                0
year                 0
engine_hp            0
engine_cylinders     0
transmission_type    0
vehicle_style        0
highway_mpg          0
city_mpg             0
price                0
dtype: int64

In [36]:
df1.fillna(0,inplace=True)

C:\Users\Piyush\anaconda3\lib\site-packages\pandas\core\frame.py:5176: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [38]:
df1.head()

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,price
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,10.739349
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,10.612779
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,10.500977
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,10.290483
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,10.448744

In [39]:
df1['price'] = np.log1p(df1['price'])

C:\Users\Piyush\AppData\Local\Temp/ipykernel_5316/2437734104.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['price'] = np.log1p(df1['price'])

In [40]:
df1.head()

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,price
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,2.462946
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,2.452106
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,2.442432
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,2.423960
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,2.437880

In [41]:
df_full_train, df_test = train_test_split(df1,test_size=0.2,random_state=42)

In [42]:
df_train, df_val = train_test_split(df_full_train,test_size=0.25,random_state=42)

In [43]:
y_train = df_train['price'].values
df_train.drop(columns=['price'],inplace=True)

In [44]:
y_test = df_test['price'].values
df_test.drop(columns=['price'],inplace=True)

In [45]:
y_val = df_val['price'].values
df_val.drop(columns=['price'],inplace=True)

In [46]:
y_train

array([2.43556595, 2.4137032 , 2.59683466, ..., 2.42056733, 2.15192525,
       2.45118995])

In [47]:
from math import sqrt
from sklearn.metrics import mean_squared_error

In [48]:
model = Ridge(alpha=1,solver='sag',random_state=42)


train_dict = df_train.to_dict(orient='records')
dv = DictVectorizer(sparse=False)
X_tr = dv.fit_transform(train_dict)

val_dict = df_val.to_dict(orient='records')
X_vl = dv.transform(val_dict)


model.fit(X_tr,y_train)
y_pr = model.predict(X_vl)
rmse = round(sqrt(mean_squared_error(y_val, y_pr)), 5)
rmse

0.04789

In [49]:
model = Ridge(alpha=0,solver='sag',random_state=42)


train_dict = df_train.to_dict(orient='records')
dv = DictVectorizer(sparse=False)
X_tr = dv.fit_transform(train_dict)

val_dict = df_val.to_dict(orient='records')
X_vl = dv.transform(val_dict)


model.fit(X_tr,y_train)
y_pr = model.predict(X_vl)
rmse = round(sqrt(mean_squared_error(y_val, y_pr)), 5)
rmse

0.04788

In [50]:
model = Ridge(alpha=0.01,solver='sag',random_state=42)


train_dict = df_train.to_dict(orient='records')
dv = DictVectorizer(sparse=False)
X_tr = dv.fit_transform(train_dict)

val_dict = df_val.to_dict(orient='records')
X_vl = dv.transform(val_dict)


model.fit(X_tr,y_train)
y_pr = model.predict(X_vl)
rmse = round(sqrt(mean_squared_error(y_val, y_pr)), 5)
rmse

0.04788

In [51]:
model = Ridge(alpha=0.1,solver='sag',random_state=42)


train_dict = df_train.to_dict(orient='records')
dv = DictVectorizer(sparse=False)
X_tr = dv.fit_transform(train_dict)

val_dict = df_val.to_dict(orient='records')
X_vl = dv.transform(val_dict)


model.fit(X_tr,y_train)
y_pr = model.predict(X_vl)
rmse = round(sqrt(mean_squared_error(y_val, y_pr)), 5)
rmse

0.04788

In [52]:
model = Ridge(alpha=10,solver='sag',random_state=42)


train_dict = df_train.to_dict(orient='records')
dv = DictVectorizer(sparse=False)
X_tr = dv.fit_transform(train_dict)

val_dict = df_val.to_dict(orient='records')
X_vl = dv.transform(val_dict)


model.fit(X_tr,y_train)
y_pr = model.predict(X_vl)
rmse = round(sqrt(mean_squared_error(y_val, y_pr)), 5)
rmse

0.04791

In [157]:
alph = [0, 0.01, 0.1, 1, 10]

In [162]:
for a in alph:
    model = Ridge(alpha=a,solver='sag',random_state=42)

    train_dict = df_train.to_dict(orient='records')
    dv = DictVectorizer(sparse=False)
    X_tr = dv.fit_transform(train_dict)

    val_dict = df_val.to_dict(orient='records')
    X_vl = dv.transform(val_dict)


    model.fit(X_tr,y_train)
    y_pr = model.predict(X_vl)
    rmse = round(sqrt(mean_squared_error(y_val, y_pr)), 3)
    print("RMSE ::",a,rmse)

RMSE :: 0 0.494
RMSE :: 0.01 0.494
RMSE :: 0.1 0.494
RMSE :: 1 0.494
RMSE :: 10 0.494